/*  BODY   */

body{
	font-family: Verdana,Geneva,sans-serif;
	background-color: #e5e5e3;
	text-align: center;
	color: #7d7d7d;
}

/* INTRO */

.intro{
	background-color: white;
	height: 375px;
	width: 550px;

	margin-left: auto;
	margin-right: auto;

	border: solid 0.5px #7d7d7d;
	border-radius: 5px;

	padding: 15px;

}

.tim{
	border-radius: 50%;
	border-color: #7d7d7d;
	border-style: solid;

	height: 120px;
	width: 120px;
}

.intro p{
	text-align: justify;
	padding-bottom: 5px;
}

h1{
	color: rgb(221, 85, 85);
	opacity: 120%;
}

.intro h2{
	font-size: larger;
	font-style: normal;
}


.intro a{
	text-decoration: none;
	color: white;
	background-color: #d33250;
	padding: 10px;

	border: solid 0.5px #7d7d7d;
	border-radius: 5px;
}


/* LIEN */

.link{
	background-color: white;
	height: 130px;
	width: 580px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;

	border: solid 0.5px #7d7d7d;
	border-radius: 5px;
}

.link ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	padding-top: 30px;
	justify-content: center;
}

.link li{
	margin-right: 35px;

}

.link a{
	color: #bbbabc;
	text-decoration: none;
}

.link i{
	margin-bottom: 5px;
}

.logo{
	font-size: small;
}


/*  MOVIES  */

.movies{
	background-color: white;
	height: 800px;
	width: 580px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;

	border: solid 0.5px #7d7d7d;
	border-radius: 5px;
}

.movies img{
	height: 150px;
	width: 100px;

	padding: 25px;
}

.movies p{
	text-align: justify;
}

.movies h2{
	margin-bottom: 50px;
}

#his{
	background-color: #c3c2c6;
}

/*  MOVIE 1  */

.mov1{
	display: flex;
}

.art1{
	padding-right: 25px;
}


/*  MOVIE 2  */

.mov2{
	display: flex;
	margin-top: 30px;
}


.art2{
	padding-right: 25px;
}


/*   MOVIE 3   */

.mov3{
	display: flex;
	margin-top: 30px;
}

.art3{
	padding-right: 25px;
}